<header>
    <hgroup>
        <h1 class="page-titulo">SCRUMTool </h1>
        <h2> for Angile projects </h2>
    </hgroup>
    <nav class="navbar">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="../index/index.html"><img class="icon" src="../../../resources/images/flow.png"/>Home</a></li>
                    <li><a href="../projeto/projeto.html"><img class="icon" src="../../../resources/images/projeto.png"/>Projetos</a></li>
                    <li><a href="#"><img class="icon" src="../../../resources/images/sprint.png"/>Sprints</a></li>
                    <li><a href="#">Charts</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>